<h1>Developers</h1>
<p>
  <ul class="contibuter-icons">
        <li>Matt Settles</li>
        <li><a href="https://github.com/msettles" title="GitHub" target="_blank"><iconify-icon data-icon="mdi-github-box"></iconify-icon></a></li>
      	<li><a href="https://twitter.com/biomsettles" title="Twitter" target="_blank"><iconify-icon data-icon="logos-twitter"></iconify-icon></a></li>
        <li><a href="https://www.linkedin.com/in/mattsettles" title="LinkedIn" target="_blank"><iconify-icon data-icon="ls-linkedin"></iconify-icon></a></li>
  </ul>
</p>
<p>
  <ul class="contibuter-icons">
      <li>Sam Hunter</li>
      <li><a href="https://github.com/samhunter" title="GitHub" target="_blank"><iconify-icon data-icon="mdi-github-box"></iconify-icon></a></li>
      <li><a href="https://twitter.com/SamHunter___" title="Twitter" target="_blank"><iconify-icon data-icon="logos-twitter"></iconify-icon></a></li>
      <li><a href="https://www.linkedin.com/in/sam-hunter-4771654" title="LinkedIn" target="_blank"><iconify-icon data-icon="ls-linkedin"></iconify-icon></a></li>
  </ul>
</p>
<p>
  <ul class="contibuter-icons">
      <li>David Streett</li>
      <li><a href="https://github.com/dstreett" title="GitHub" target="_blank"><iconify-icon data-icon="mdi-github-box"></iconify-icon></a></li>
      <li><a href="https://twitter.com/streettdavid" title="Twitter" target="_blank"><iconify-icon data-icon="logos-twitter"></iconify-icon></a></li>
      <li><a href="https://www.linkedin.com/in/streettdavid" title="LinkedIn" target="_blank"><iconify-icon data-icon="ls-linkedin"></iconify-icon></a></li>
  </ul>
</p>
<p>
  <ul class="contibuter-icons">
      <li>Joe Angell</li>
      <li><a href="https://github.com/joe-angell" title="GitHub" target="_blank"><iconify-icon data-icon="mdi-github-box"></iconify-icon></a></li>
      <li><a href="https://www.linkedin.com/in/joe-angell-5121444" title="LinkedIn" target="_blank"><iconify-icon data-icon="ls-linkedin"></iconify-icon></a></li>
  </ul>
</p>
